body,div,ul,li,img,a,h2,h1,h3,p,input,form,dl,dt,dd{margin:0;padding:0;border:0;}
body{font-size:12px;font-famile:Arial, 'ËÎÌו', sans-serif;background:url(../images/bg.jpg) repeat;}
ul,li{list-style:none;}
a{text-decoration:none;color:#fff;}


.clearFix:after{
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
	conter:0;
}
.clearFix{zoom:1;}

.clearFix;after{
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
	line-height:0;
	content:"";
}
#main_l,#content,#main_r,#content_l,#bfq_l,#bfq_r,#m_bl{
	float:left;
}

#bottom{
	background-image:url(../images/bottom_bg.png);
	width:1164px;
	height:33px;
}

#content_zhong{
	float:left;
	background-image:url(../images/content_bg.png);
	width:1100px;
	height:766px;
	background-repeat: repeat-x;
}
#main_t{
	float:left;
	width:701px;
	height:35px;
	background-image:url(../images/main_bgt.png);
	background-repeat:repeat-x;
	}
#m_z{
	height:446px;
	width: 800px;
	}
#m_zl{
	background-image:url(../images/main_bgl.png);
	background-repeat:repeat-y;
	height:446px;
	width:52px;
	float:left;
}
#m_zz{
	width:701px;
	float:left;
	height: 446px;
	font-size: 14px;
	}
#m_zr{
	float:left;
	background-color:#7e9fae;
	background-image:url(../images/main_bgr.png);
	background-repeat:repeat-y;
	width:47px;
	height:446px;
	}
#m_bz{
	float:left;
	width:701px;
	height:46px;
	background-image:url(../images/main_bgb.png);
	background-repeat:repeat-x;}
#bfq{
	width:1000px;}
#bfq_l{

	width:63px;
	}
#bfq_z{
	float:left;	
	width:800px;
	height:64px;
	background-image:url(../images/bf_bg.gif);
	background-repeat:repeat-x;
	vertical-align:bottom;

	}
