* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 22px; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #1b68b7; TEXT-DECORATION: underline
}
.nbr BR {
	DISPLAY: none
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.page {
	MARGIN-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
* + HTML .page {
	MARGIN-TOP: 5px
}
.Layout {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 960px; ZOOM: 1; CLEAR: both; OVERFLOW: hidden
}
.wrap {
	MARGIN: 0px auto; WIDTH: 960px
}
.cet {
	TEXT-ALIGN: center
}
.clear {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.blank {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank0 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank2 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank4 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank8 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank10 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden
}
.blank0 {
	HEIGHT: 0px
}
.blank2 {
	HEIGHT: 2px
}
.blank3 {
	HEIGHT: 3px
}
.blank4 {
	HEIGHT: 4px
}
.blank6 {
	HEIGHT: 6px
}
.blank8 {
	HEIGHT: 8px
}
.blank10 {
	HEIGHT: 10px
}
.padd10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.padd4 {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.top_bg {
	BACKGROUND: url(../images/images_header/top_bg.jpg) repeat-x; HEIGHT: 32px
}
.welcome {
	LINE-HEIGHT: 32px; PADDING-LEFT: 15px; FLOAT: left; COLOR: #828282
}
.welcome H1 {
	COLOR: #828282; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.welcome SPAN A {
	COLOR: #1477d4
}
.top_r {
	LINE-HEIGHT: 32px; FLOAT: right; COLOR: #828282; MARGIN-RIGHT: 0px
}
.top_r A {
	COLOR: #828282
}
.top_r A:hover {
	COLOR: #1b68b7
}
.logo_k {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 15px
}
.logo {
	WIDTH: 233px; DISPLAY: inline; BACKGROUND: url(../images/images_header/logo.jpg) no-repeat; FLOAT: left; HEIGHT: 56px; MARGIN-RIGHT: 10px
}
.logo A {
	TEXT-INDENT: -2000px; WIDTH: 233px; DISPLAY: block; HEIGHT: 56px
}
.lqzjx {
	MARGIN: 0px 10px 0px 0px; DISPLAY: inline; FLOAT: left
}
.seach_k {
	MARGIN-TOP: 5px; FLOAT: left
}
.seach_bg {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 223px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/images_header/seach.gif) no-repeat; HEIGHT: 25px; PADDING-TOP: 5px
}
.rmgjc {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #777779; PADDING-TOP: 2px
}
.rmgjc A {
	COLOR: #1b68b7
}
.seach_input {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 144px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.seach_z {
	FLOAT: left
}
.seach_anfd {
	MARGIN: 0px 0px 0px 20px; DISPLAY: inline; FLOAT: left; CURSOR: pointer
}
.seach_button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 50px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
.menu {
	WIDTH: 960px; BACKGROUND: url(../images/images_header/menu_bg.jpg) no-repeat; HEIGHT: 42px
}
.inner {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px; _position: relative; _margin-top: -2px
}
.menu LI {
	LINE-HEIGHT: 42px; DISPLAY: inline; FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.menu LI.current {
	BACKGROUND-IMAGE: url(../images/images_header/xzbg2.png) !important; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/images_header/xzbg2.png'); MARGIN-TOP: -3px; PADDING-LEFT: 0px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; HEIGHT: 48px; PADDING-TOP: 3px; _margin-top: -0px; _padding-top: 0px
}
.menu LI.current-select {
	BACKGROUND-IMAGE: url(../images/images_header/xzbg.png) !important; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/images_header/xzbg.png'); MARGIN-TOP: -3px; PADDING-LEFT: 0px; WIDTH: 96px; DISPLAY: inline; BACKGROUND-REPEAT: no-repeat; HEIGHT: 48px; PADDING-TOP: 3px; _margin-top: -0px; _padding-top: 0px
}
.menu LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 42px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; DISPLAY: block; FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.menu LI A:hover {
	LINE-HEIGHT: 42px; FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.menu LI UL {
	POSITION: absolute; VISIBILITY: hidden
}
.menu LI.hover UL {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; VISIBILITY: visible; MARGIN-LEFT: -30px; PADDING-TOP: 0px; _width: 700px
}
.menu UL UL LI {
	MARGIN-TOP: 4px; WIDTH: auto; BACKGROUND: #126ab4; FLOAT: left; _margin-top: 7px
}
.menu UL UL LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; PADDING-TOP: 0px
}
.menu UL UL LI A:hover {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; MARGIN-TOP: 0px; PADDING-LEFT: 15px; WIDTH: auto; PADDING-RIGHT: 15px; BACKGROUND: #00a5e9; HEIGHT: auto; PADDING-TOP: 0px; _width: 60px
}
.m_hyzx {
	LINE-HEIGHT: 42px; DISPLAY: inline; FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; FLOAT: right; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: normal; MARGIN-RIGHT: 15px
}
.m_hyzx A {
	PADDING-LEFT: 2px; PADDING-RIGHT: 17px; DISPLAY: inline; COLOR: #fff
}
.m_hyzx A:hover {
	COLOR: #fff
}
.stp_k {
	MARGIN: 10px 0px; ZOOM: 1; OVERFLOW: hidden
}
.tbgjd {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.lpzsb {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 70px
}
.xzgff {
	FLOAT: right
}
.xszn_dk {
	ZOOM: 1; MARGIN-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.xszn_k {
	ZOOM: 1; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 65px
}
.xszn_k_y {
	ZOOM: 1; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 0px
}
.xszn_lsj {
	MARGIN-TOP: 8px; FLOAT: left; MARGIN-RIGHT: 5px
}
.xszn_lsj_wz {
	WIDTH: 120px; FLOAT: left
}
.xszn_lsj_wz_y {
	WIDTH: 150px; FLOAT: left
}
.xszn_lsj_wz SPAN {
	FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.xszn_lsj_wz_y SPAN {
	FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.link_dk {
	MARGIN: 0px auto; WIDTH: 950px
}
.link_tit {
	FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.link_tit IMG {
	MARGIN-RIGHT: 5px
}
.link_xx {
	MARGIN-TOP: 10px; ZOOM: 1; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.link_xx LI {
	FLOAT: left
}
.link_xx LI A {
	FLOAT: left
}
.link_xx LI S {
	MARGIN: 8px 10px 0px; WIDTH: 1px; BACKGROUND: url(../images/images_index/sx.jpg) no-repeat; FLOAT: right; HEIGHT: 6px
}
.ft_aboutk {
	MARGIN-TOP: 15px; BACKGROUND: #fbfcff; HEIGHT: 80px; BORDER-TOP: #d9d9d9 1px solid
}
.ft_about {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 5px; WIDTH: 950px; PADDING-RIGHT: 5px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 5px
}
.ft_about_z {
	WIDTH: 810px; FLOAT: left
}
.ft_tel {
	MARGIN: 10px 0px 0px; FLOAT: right
}
.ft_about_tit {
	COLOR: #555; FONT-SIZE: 12px
}
.ft_about_tit A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Î¢ÈíÑÅºÚ, ËÎÌå, sans-serif; COLOR: #555; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.ft_about_tit A:hover {
	COLOR: #1b68b7
}
.ac_results {
	Z-INDEX: 100; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: -5px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
.ac_results UL {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ac_results LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: block; FONT: menu; FONT-SIZE: 12px; OVERFLOW: hidden; CURSOR: default; PADDING-TOP: 2px
}
.ac_results .item {
	TEXT-ALIGN: left; FLOAT: left
}
.ac_results .num {
	TEXT-ALIGN: right; FLOAT: right; COLOR: green
}
.ac_loading {
	BACKGROUND: url(indicator.gif) white no-repeat right center
}
.ac_odd {
	BACKGROUND-COLOR: #eee
}
.ac_over {
	BACKGROUND-COLOR: #3399ff; COLOR: white
}
#TopNav_01 #TopNavC01 {
	Z-INDEX: 999; BORDER-BOTTOM: #b5b5b5 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #b5b5b5 1px solid; LINE-HEIGHT: 20px; MARGIN-TOP: 24px; PADDING-LEFT: 5px; WIDTH: 90px; BACKGROUND: #ffffff 0px 0px; HEIGHT: 70px; BORDER-RIGHT: #b5b5b5 1px solid
}
#TopNav_01 DT {
	Z-INDEX: 99; BORDER-BOTTOM: medium none; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; PADDING-LEFT: 8px; WIDTH: 87px; PADDING-RIGHT: 0px; BACKGROUND: #ffffff 0px 0px; HEIGHT: 20px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 4px; -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none
}
#TopNav_01 {
	POSITION: absolute; TOP: 5px; LEFT: 55px
}
