IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.hz2010_l {
	FLOAT: left
}
.hz2010_r {
	FLOAT: right
}
#hz2010_top {
	BACKGROUND: #f5f4f0; MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 28px
}
#hz2010_top .left {
	PADDING-LEFT: 15px; FLOAT: left; WIDTH: 715px; LINE-HEIGHT: 28px; HEIGHT: 28px
}
#hz2010_top .right {
	PADDING-RIGHT: 15px; FLOAT: left; WIDTH: 205px; LINE-HEIGHT: 28px; HEIGHT: 28px; TEXT-ALIGN: right
}
#hz2010_top .a2 {
	BACKGROUND-POSITION: left top; FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/index_93.gif); MARGIN: 4px 4px 0px 0px; WIDTH: 73px; LINE-HEIGHT: 19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 19px; TEXT-ALIGN: center
}
#hz2010_top .a3 {
	BACKGROUND-POSITION: left top; FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/index_92.gif); MARGIN: 4px 4px 0px 0px; WIDTH: 36px; LINE-HEIGHT: 19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 19px; TEXT-ALIGN: center
}
#hz2010_top .a4 {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-RIGHT: 22px
}
#hz2010_logo {
	MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 90px
}
#hz2010_logo .logo {
	FLOAT: left; WIDTH: 358px; HEIGHT: 90px
}
#hz2010_logo .logo A {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/index_20111216_08.gif); WIDTH: 358px; HEIGHT: 90px
}
#hz2010_logo .right {
	FLOAT: right; WIDTH: 500px; HEIGHT: 90px
}
#hz2010_logo .t1 {
	FLOAT: right; MARGIN: 18px 0px 21px; WIDTH: 500px; HEIGHT: 28px; TEXT-ALIGN: right
}
#hz2010_logo .t1_1 {
	FLOAT: right; MARGIN: 9px 0px 10px; WIDTH: 500px; HEIGHT: 14px; TEXT-ALIGN: right
}
#hz2010_logo .t2 {
	PADDING-LEFT: 68px; FLOAT: right; WIDTH: 432px; HEIGHT: 23px
}
#hz2010_logo .t3 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_3.gif); WIDTH: 47px; LINE-HEIGHT: 23px; MARGIN-RIGHT: 4px; HEIGHT: 23px; TEXT-ALIGN: center
}
#hz2010_logo .t3 A {
	COLOR: #4c4a4b
}
#hz2010_logo .t4 {
	FLOAT: left; WIDTH: 107px; HEIGHT: 23px
}
#hz2010_logo .t4 A {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_4.gif); WIDTH: 107px; HEIGHT: 23px
}
#hz2010_logo .t5 IMG {
	FLOAT: left; MARGIN: -3px 0px 0px 102px; POSITION: absolute
}
.hz2010_1 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_6.gif); MARGIN: 0px auto 8px; WIDTH: 950px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 261px
}
.hz2010_2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 156px; PADDING-TOP: 18px; HEIGHT: 243px
}
.hz2010_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 150px; COLOR: #4c4c4c; HEIGHT: 25px
}
.hz2010_4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 132px; PADDING-TOP: 10px; HEIGHT: 23px
}
.hz2010_4 A {
	COLOR: #4c4c4c
}
.hz2010_4 A:hover {
	FONT-WEIGHT: bold; COLOR: #c91a05; TEXT-DECORATION: none
}
.hz2010_5 {
	WIDTH: 150px; PADDING-TOP: 10px
}
.hz2010_6 {
	FLOAT: left; WIDTH: 776px; HEIGHT: 261px
}
.hz2010_7 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_7.gif); WIDTH: 776px; COLOR: #f7f1ed; PADDING-TOP: 10px; HEIGHT: 36px; TEXT-ALIGN: center
}
.hz2010_8 {
	BORDER-RIGHT: #e3e3e3 1px solid; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_8.gif); WIDTH: 775px; HEIGHT: 215px
}
.hz2010_9 {
	PADDING-RIGHT: 19px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 496px; PADDING-TOP: 12px; HEIGHT: 203px
}
.hz2010_10 {
	FLOAT: left; WIDTH: 245px; HEIGHT: 215px
}
.hz2010_11 {
	FLOAT: left; WIDTH: 245px; HEIGHT: 110px
}
.hz2010_11 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.hz2010_11 UL LI {
	FLOAT: left; WIDTH: 245px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.hz2010_12 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 250px; COLOR: #cd3a06; PADDING-TOP: 10px
}
.hz2010_13 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_10.gif); WIDTH: 245px; HEIGHT: 61px
}
.hz2010_14 {
	MARGIN: 0px auto 8px; WIDTH: 950px; HEIGHT: 237px
}
.hz2010_15 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 256px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 235px
}
.hz2010_16 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 682px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 235px
}
.hz2010_17 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_11.gif); WIDTH: 682px; HEIGHT: 23px
}
.hz2010_18 {
	FONT-WEIGHT: bold; FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_12.gif); WIDTH: 85px; CURSOR: pointer; COLOR: #ca1c04; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
.hz2010_19 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_13.gif); WIDTH: 85px; CURSOR: pointer; COLOR: #414141; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-ALIGN: center
}
.hz2010_20 {
	PADDING-RIGHT: 10px; FLOAT: right; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.hz2010_21 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 306px; PADDING-TOP: 10px; HEIGHT: 92px
}
.hz2010_22 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 60px; PADDING-TOP: 5px; HEIGHT: 82px
}
.hz2010_23 {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 236px
}
.hz2010_24 {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 236px; COLOR: #414141; LINE-HEIGHT: 18px
}
.hz2010_25 {
	FLOAT: left; WIDTH: 236px
}
.hz2010_26 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_11.gif); WIDTH: 256px; HEIGHT: 23px
}
.hz2010_27 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FLOAT: left; WIDTH: 150px; COLOR: #ca1c04; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.hz2010_28 {
	FLOAT: left; WIDTH: 256px; HEIGHT: 200px; TEXT-ALIGN: center
}
.hz2010_29 {
	MARGIN-TOP: 15px
}
.hz2010_30 {
	MARGIN: 0px auto 8px; WIDTH: 950px; HEIGHT: 240px
}
.hz2010_31 {
	FLOAT: left; WIDTH: 258px; HEIGHT: 240px
}
.hz2010_32 {
	MARGIN-BOTTOM: 8px
}
.hz2010_33 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 682px; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 238px
}
.hz2010_34 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 650px; PADDING-TOP: 15px; HEIGHT: 200px
}
.hz2010_35 {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 650px; TEXT-ALIGN: right
}
.hz2010_36 {
	FLOAT: left; WIDTH: 650px; HEIGHT: 198px
}
.hz2010_37 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 650px; HEIGHT: 198px
}
.hz2010_38 {
	FLOAT: left; WIDTH: 650px; COLOR: #212121
}
.hz2010_39 {
	MARGIN: 0px auto 8px; WIDTH: 950px; HEIGHT: 198px
}
.hz2010_40 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_16.gif); WIDTH: 684px; MARGIN-RIGHT: 8px; HEIGHT: 198px
}
.hz2010_41 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 256px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 196px
}
.hz2010_42 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 232px; PADDING-TOP: 12px
}
.hz2010_42 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 232px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.hz2010_42 UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 232px; LINE-HEIGHT: 21px; WHITE-SPACE: nowrap; HEIGHT: 21px; TEXT-OVERFLOW: ellipsis
}
.hz2010_43 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_17.gif); MARGIN: 0px auto 15px; WIDTH: 950px; HEIGHT: 143px
}
.hz2010_44 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 93px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 155px; COLOR: #7d7d7d; LINE-HEIGHT: 22px; PADDING-TOP: 88px; FONT-FAMILY: Arial; HEIGHT: 55px
}
.hz2010_45 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 110px; COLOR: #7d7d7d; LINE-HEIGHT: 22px; PADDING-TOP: 16px; HEIGHT: 127px
}
.hz2010_46 {
	BACKGROUND-POSITION: center 50%; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_18.gif); MARGIN: 0px auto 15px; WIDTH: 950px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 91px
}
.hz2010_47 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 930px; COLOR: #bab9b9; LINE-HEIGHT: 16px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.hz2010_47 A {
	COLOR: #bab9b9
}
.hz2010_48 {
	MARGIN: 16px 0px 0px -75px; POSITION: absolute
}
.hz2010_49 {
	MARGIN: -8px 0px 0px 100px; POSITION: absolute
}
.hz2010_50 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_20.gif); WIDTH: 271px; HEIGHT: 133px
}
.hz2010_51 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 18px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 99px; PADDING-TOP: 10px
}
.hz2010_52 {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 11px 0px 0px 10px; WIDTH: 120px; COLOR: #6c6b6b; LINE-HEIGHT: 21px; HEIGHT: 21px
}
.hz2010_52 A {
	COLOR: #6c6b6b
}
.hz2010_53 {
	FONT-SIZE: 12px; FLOAT: left; WIDTH: 99px; COLOR: #6c6b6b
}
.hz2010_53 A {
	COLOR: #6c6b6b
}
.hz2010_53 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 99px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.hz2010_53 UL LI {
	BACKGROUND-POSITION: 50% bottom; FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_21.gif); WIDTH: 99px; LINE-HEIGHT: 26px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 26px
}
.hz2010_54 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_22.gif); WIDTH: 271px; HEIGHT: 159px
}
.hz2010_55 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_23.gif); WIDTH: 271px; HEIGHT: 107px
}
.hz2010_56 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_24.gif); MARGIN: 0px auto; WIDTH: 950px; HEIGHT: 40px
}
.hz2010_57 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://images.hzins.com/web/hz2010_25.gif); WIDTH: 79px; LINE-HEIGHT: 40px; HEIGHT: 40px; TEXT-ALIGN: center
}
.hz2010_58 {
	FLOAT: left; WIDTH: 79px; LINE-HEIGHT: 40px; HEIGHT: 40px; TEXT-ALIGN: center
}
.hz2010_58 A {
	COLOR: #ffffff
}
.hz2010_59 {
	POSITION: absolute
}
.hz2010_60 {
	PADDING-LEFT: 180px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/2010_2_5_1.gif); MARGIN: 0px auto 8px; WIDTH: 770px; COLOR: #dfdfdf; PADDING-TOP: 6px; HEIGHT: 24px
}
.hz2010_61 IMG {
	MARGIN-TOP: -3px; POSITION: absolute
}
