.tx1 {
	MARGIN-TOP: 4px; FLOAT: right; LINE-HEIGHT: 19px; MARGIN-RIGHT: 5px; HEIGHT: 19px
}
.tx2 {
	BORDER-TOP: #ff0e14 3px solid; MARGIN-TOP: 8px
}
.tx3 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_5.gif); HEIGHT: 32px
}
.tx4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c50d17; TEXT-ALIGN: center
}
.tx5 {
	FONT-SIZE: 14px; COLOR: #525252; TEXT-ALIGN: center
}
.tx6 {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.tx7 {
	BORDER-RIGHT: #e2e2e2 1px solid; BORDER-TOP: #e2e2e2 1px solid; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_10.gif); MARGIN-BOTTOM: 10px; BORDER-LEFT: #e2e2e2 1px solid; BORDER-BOTTOM: #e2e2e2 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fcfcfc
}
.tx8 {
	PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #525252
}
.tx9 {
	PADDING-RIGHT: 10px; FONT-FAMILY: Arial; TEXT-ALIGN: right
}
.tx10 {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d3d3d3 1px solid; FONT-FAMILY: Arial
}
.tx11 {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ff0000 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #ff0000 1px solid; COLOR: #ff0000; PADDING-TOP: 3px; BORDER-BOTTOM: #ff0000 1px solid; FONT-FAMILY: Arial
}
.tx12 {
	MARGIN-TOP: 10px; BACKGROUND: #f5f5f5
}
.tx13 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; COLOR: #4d4d4d; LINE-HEIGHT: 22px; PADDING-TOP: 5px
}
.tx14 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_14.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 110px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 30px; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.tx15 {
	PADDING-BOTTOM: 18px; TEXT-ALIGN: center
}
.tx16 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_6.gif); HEIGHT: 32px
}
.tx17 {
	COLOR: #353535; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.tx18 {
	BORDER-BOTTOM: #e2e2e2 1px solid; HEIGHT: 35px
}
.tx19 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_16.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 73px; CURSOR: pointer; COLOR: #7f7f7f; LINE-HEIGHT: 24px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
.tx20 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_17.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 182px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 30px; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.tx21 {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #f0f1f3; COLOR: #393939; HEIGHT: 38px
}
.tx22 {
	MARGIN-TOP: 15px
}
.tx23 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_7.gif); HEIGHT: 32px
}
.tx24 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; BORDER-BOTTOM: #e2e2e2 1px solid; FONT-FAMILY: Arial
}
.tx25 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_19.gif); PADDING-BOTTOM: 15px; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x
}
.tx26 {
	MARGIN-BOTTOM: 15px
}
.tx27 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.tx28 {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_20.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 128px; CURSOR: pointer; COLOR: #ffffff; LINE-HEIGHT: 30px; HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.tx29 {
	BORDER-TOP: #e3e3e3 1px solid; BACKGROUND: #f8f8f8
}
.tx30 {
	BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_8.gif); HEIGHT: 32px
}
.tx31 {
	COLOR: #585858; LINE-HEIGHT: 25px; FONT-FAMILY: Arial
}
.tx32 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; COLOR: #585858; PADDING-TOP: 18px; BORDER-BOTTOM: #e2e2e2 3px solid
}
.tx33 {
	BORDER-TOP: #000000 1px solid; MARGIN-TOP: 10px
}
.tx34 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; BORDER-BOTTOM: #d7d7d7 1px solid
}
.tx35 {
	PADDING-LEFT: 16px; BACKGROUND: #f8f8f8; BORDER-BOTTOM: #e9e8e8 1px solid; HEIGHT: 30px
}
.tx36 {
	PADDING-LEFT: 16px; BORDER-BOTTOM: #e9e8e8 1px solid; FONT-FAMILY: Arial; HEIGHT: 30px
}
.tx37 {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; BORDER-BOTTOM: #d7d7d7 1px solid
}
.tx38 {
	PADDING-RIGHT: 10px; COLOR: #666666; FONT-FAMILY: Arial; HEIGHT: 35px; TEXT-ALIGN: right
}
.tx39 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_19.gif); PADDING-BOTTOM: 8px; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x
}
.tx40 {
	MARGIN-BOTTOM: 5px
}
.tx41 {
	BACKGROUND: #f5f5f5; MARGIN-BOTTOM: 5px
}
.tx42 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_27.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 73px; CURSOR: pointer; COLOR: #caa411; LINE-HEIGHT: 24px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px
}
.tx43 {
	BACKGROUND-POSITION: 50% bottom; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://images.hzins.com/web/ls_19.gif); PADDING-BOTTOM: 8px; COLOR: #525252; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: center
}
.tx44 {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e8e8 1px solid; FONT-FAMILY: Arial
}
.tx45 {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #e9e8e8 1px solid; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.tx46 {
	BORDER-RIGHT: #fe0002 2px solid; BORDER-TOP: #fe0002 2px solid; BACKGROUND: #fefadd; BORDER-LEFT: #fe0002 2px solid; BORDER-BOTTOM: #fe0002 2px solid
}
.tx47 {
	WIDTH: 200px
}
.hz2010_47 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 930px; COLOR: #bab9b9; LINE-HEIGHT: 16px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.hz2010_47 A {
	COLOR: #bab9b9
}
.myspace {
	BACKGROUND-POSITION: left top; MARGIN-TOP: 4px; FLOAT: right; BACKGROUND-IMAGE: url(http://images.hzins.com/web/index_93.gif); WIDTH: 73px; LINE-HEIGHT: 19px; MARGIN-RIGHT: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 19px; TEXT-ALIGN: center
}
.tx51 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/pay2011_1.gif); WIDTH: 106px; CURSOR: pointer; COLOR: #ffffff; MARGIN-RIGHT: 3px; PADDING-TOP: 5px; HEIGHT: 36px; TEXT-ALIGN: center
}
.tx52 {
	FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://images.hzins.com/web/pay2011_2.gif); WIDTH: 106px; CURSOR: pointer; COLOR: #000000; LINE-HEIGHT: 32px; MARGIN-RIGHT: 3px; HEIGHT: 32px; TEXT-ALIGN: center
}
.tx53 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WIDTH: 150px; COLOR: #525252; LINE-HEIGHT: 32px; MARGIN-RIGHT: 3px; HEIGHT: 32px; TEXT-ALIGN: center
}
.tx54 {
	FLOAT: right; WIDTH: 280px; LINE-HEIGHT: 32px; MARGIN-RIGHT: 12px; HEIGHT: 32px; TEXT-ALIGN: right
}
.tx55 {
	FONT-SIZE: 22px; COLOR: #ff6600
}
.tx55 {
	LINE-HEIGHT: 32px; HEIGHT: 32px
}
.tx56 {
	PADDING-BOTTOM: 8px
}
.tx57 {
	MARGIN: 10px 0px 18px
}
.tx58 {
	BORDER-RIGHT: #fe0002 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #fe0002 1px solid; PADDING-LEFT: 15px; BACKGROUND: #fefadd; PADDING-BOTTOM: 5px; BORDER-LEFT: #fe0002 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 5px; BORDER-BOTTOM: #fe0002 1px solid
}
