body {
	background-image: url(../../images/20140416/bg-login0903.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	
}
.print{
	background-image: url(../../images/20140416/print.gif);
	background-repeat: no-repeat;
	background-position: center top;
}