body {
	width: 100%;
	scrollbar-face-color: #E7F5FE;
	scrollbar-highlight-color: #006699;
	scrollbar-shadow-color: #006699;
	scrollbar-3dlight-color: #E7F5FE;
	scrollbar-arrow-color: #006699;
	scrollbar-track-color: #E7F5FE;
	scrollbar-darkshadow-color: #E7F5FE;
	scrollbar-base-color: #E7F5FE;
	text-align: left;
	margin-left: 20px;
	/*margin-top:5px;*/
	background: url("../images/main_36.gif");
	background-repeat: repeat-x;
}
caption{ margin-top:10px; line-height:25px; height:25px; text-align:left; padding-left:14px;}
caption,#admin_main h3 {
	border:1px solid #99d3fb;
	border-bottom-width:0;
	color:#077ac7;
	height:27px;
	line-height:27px;
	margin:10px auto 0;
	font-size:14px;
	font-family:"ËÎÌו";
	background-image: url(../images/bg_table.jpg);
	background-repeat: repeat-x;
	background-position: 0 0;
}
caption{border-bottom:1px solid #99d3fb !important; border:1px solid #99d3fb; border-bottom-width:0; font-weight:bold; }
caption span{float:right; padding-right:10px;}
table{background:#99d3fb; margin-top:-5px !important; margin-top:10px; }
td{background:#fff;	font-size:13px;}
th,td{line-height:24px; text-align:left; color:#5097D8;	font-size:13px;padding-left:10px;padding-top:2px;padding-bottom: 2px;}
th{ font-size:12px; background: url(../images/bg_table.jpg) repeat-x 0 -26px; line-height:22px; height:24px !important; height:22px; font-weight:bold;}
.nav{
	width: 100%;
	margin: 0px;
	padding:0px;
}
.nav li{
	height:28px;
	display: inline;
	margin:0px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
}
.sep{
	padding:0px;
	width:3px;
	background: url("../images/leftmenu/main_34.gif");
	background-repeat: no-repeat;
	background-position: center;
}
input button{
	border: solid 1px blue;

}