.wenda {
	SCROLLBAR-ARROW-COLOR: #ffffff; BORDER-BOTTOM: #0099ff 1px solid; BORDER-LEFT: #0099ff 1px solid; SCROLLBAR-FACE-COLOR: #7aa1e6; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #ffffff; FONT-FAMILY: "宋体"; SCROLLBAR-HIGHLIGHT-COLOR: #7aa1e6; COLOR: #ff6600; SCROLLBAR-SHADOW-COLOR: #7aa1e6; FONT-SIZE: 10pt; BORDER-TOP: #0099ff 1px solid; SCROLLBAR-TRACK-COLOR: #7aa1e6; BORDER-RIGHT: #0099ff 1px solid; SCROLLBAR-3DLIGHT-COLOR: #9bb8ec
}
.tiankong {
	BORDER-BOTTOM: #0099ff 1px solid; BORDER-LEFT: #0099ff 0px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; BOTTOM: 0px; FONT-FAMILY: "宋体"; MARGIN-BOTTOM: 0px; HEIGHT: 14px; COLOR: #ff6600; FONT-SIZE: 10pt; BORDER-TOP: #0099ff 0px solid; BORDER-RIGHT: #0099ff 0px solid; PADDING-TOP: 0px
}
.pingfen {
	BORDER-BOTTOM: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "宋体"; COLOR: #000000; FONT-SIZE: 10pt; BORDER-TOP: #ff0000 1px solid; BORDER-RIGHT: #ff0000 1px solid
}
.button3 {
	BORDER-BOTTOM: 1pt double; BORDER-LEFT: 1pt double; BACKGROUND-COLOR: #336699; FONT-FAMILY: "宋体"; COLOR: #ffffff; FONT-SIZE: 9pt; BORDER-TOP: 1pt double; BORDER-RIGHT: 1pt double
}
