.NavBar1 {
	Z-INDEX: 2; POSITION: relative; MARGIN-TOP: 10px; MARGIN-BOTTOM: -1px; HEIGHT: 35px
}
.NavBar1 .Logo {
	PADDING-LEFT: 7px; WIDTH: 185px; FLOAT: left
}
.NavBar1 .Menu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 3px
}
.NavBar1 .Menu LABEL {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 96px; DISPLAY: inline; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_003.gif) no-repeat 0px 0px; FLOAT: left; MARGIN-LEFT: 2px; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.NavBar1 .Menu LABEL A {
	COLOR: #000; TEXT-DECORATION: none
}
.NavBar1 .Menu LABEL.selected {
	COLOR: #fff
}
.NavBar1 .Menu LABEL.selected A {
	COLOR: #fff
}
.NavBar1 .Menu LABEL.selected A:hover {
	TEXT-DECORATION: underline
}
.NavBar1 .N_Link {
	MARGIN-TOP: 8px; FLOAT: right
}
.NavBar1 .N_Link LABEL {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 32px; PADDING-RIGHT: 6px; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_004.gif) no-repeat 0px 0px; FLOAT: left; COLOR: #737373; PADDING-TOP: 0px
}
.NavBar1 .N_Link LABEL A {
	COLOR: #737373; TEXT-DECORATION: none
}
.NavBar1 .N_Link LABEL A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.NavBar1 .N_Link .ico_01 {
	BACKGROUND-POSITION: 6px 0px
}
.NavBar1 .N_Link .ico_02 {
	BACKGROUND-POSITION: 6px -50px
}
.NavBar1 .N_Link .ico_03 {
	BACKGROUND-POSITION: 6px -100px
}
.NavBar2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_002.gif) repeat-x 0px 0px; COLOR: #fff; PADDING-TOP: 2px
}
.NavBar2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.NavBar2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.NavBar2 A:hover {
	TEXT-DECORATION: underline
}
.NavBar3 {
	BACKGROUND-IMAGE: url(../images/book_mj_005.gif); WIDTH: 1000px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 37px; CLEAR: both
}
.NavBar4 {
	WIDTH: 950px; HEIGHT: 37px; CLEAR: both
}
.NavBar3 .Form_L {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #6e6e6e; PADDING-TOP: 5px
}
.NavBar3 .Form_R {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 8px; FLOAT: right; HEIGHT: 27px; PADDING-TOP: 4px
}
.NavBar3 .button_01 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_006.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #6d6d6d; BORDER-LEFT-STYLE: none
}
.NavBar3 .button_02 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_008.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.NavBar3 .button_022 {
	BACKGROUND-IMAGE: url(../images/login_button_1.gif); BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; BORDER-TOP-STYLE: none; HEIGHT: 19px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.NavBar3 .input_01 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 1px; HEIGHT: 14px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 1px
}
.NavBar3 A:link {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar3 A:visited {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar3 A:hover {
	COLOR: #d7b15c; TEXT-DECORATION: underline
}
.NavBar3 .input_02 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 1px; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_007.gif) #fff no-repeat 5px 3px; HEIGHT: 14px; COLOR: #666; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 2px
}
.NavBar4 {
	WIDTH: 950px; HEIGHT: 37px; CLEAR: both
}
.NavBar4 .Form_L {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #6e6e6e; PADDING-TOP: 10px
}
.NavBar4 .Form_R {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 8px; FLOAT: right; HEIGHT: 27px; PADDING-TOP: 10px
}
.NavBar4 .button_01 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_006.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #6d6d6d; BORDER-LEFT-STYLE: none
}
.NavBar4 .button_02 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_008.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.NavBar4 .button_022 {
	BACKGROUND-IMAGE: url(../images/login_button_1.gif); BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; BORDER-TOP-STYLE: none; HEIGHT: 19px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.NavBar4 .input_01 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 1px; HEIGHT: 14px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 1px
}
.NavBar4 A:link {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar4 A:visited {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar3 A:hover {
	COLOR: #d7b15c; TEXT-DECORATION: underline
}
.NavBar4 .input_02 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 1px; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_007.gif) #fff no-repeat 5px 3px; HEIGHT: 14px; COLOR: #666; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 2px
}
#N_Menu_1 {
	WIDTH: 74px; BACKGROUND-POSITION: 0px -250px
}
#N_Menu_2 {
	WIDTH: 74px; BACKGROUND-POSITION: 0px -250px
}
.selected#N_Menu_1 {
	BACKGROUND-POSITION: 0px -300px
}
.selected#N_Menu_6 {
	BACKGROUND-POSITION: 0px -50px
}
.selected#N_Menu_3 {
	BACKGROUND-POSITION: 0px -100px
}
.selected#N_Menu_4 {
	BACKGROUND-POSITION: 0px -150px
}
.selected#N_Menu_5 {
	BACKGROUND-POSITION: 0px -200px
}
.selected#N_Menu_2 {
	BACKGROUND-POSITION: 0px -300px
}
#N_Cont_2 {
	DISPLAY: none
}
#N_Cont_3 {
	DISPLAY: none
}
#N_Cont_1 {
	DISPLAY: none
}
#N_Cont_5 {
	DISPLAY: none
}
#N_Cont_6 {
	DISPLAY: none
}
.NavBar32 {
	BACKGROUND-IMAGE: url(../images/book_mj_0052.gif); WIDTH: 950px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; HEIGHT: 37px; CLEAR: both
}
.NavBar32 .Form_L {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #6e6e6e; PADDING-TOP: 5px
}
.NavBar32 .Form_R {
	PADDING-BOTTOM: 0px; FLOAT: right; HEIGHT: 27px; PADDING-TOP: 4px
}
.NavBar32 .button_01 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_006.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #6d6d6d; BORDER-LEFT-STYLE: none
}
.NavBar32 .button_02 {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 20px; BORDER-RIGHT-STYLE: none; WIDTH: 51px; BORDER-TOP-STYLE: none; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_008.gif) no-repeat 0px 0px; HEIGHT: 19px; COLOR: #fff; BORDER-LEFT-STYLE: none
}
.NavBar32 .input_01 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; PADDING-RIGHT: 1px; HEIGHT: 14px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 1px
}
.NavBar32 A:link {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar32 A:visited {
	COLOR: #6e6e6e; TEXT-DECORATION: none
}
.NavBar32 A:hover {
	COLOR: #d7b15c; TEXT-DECORATION: underline
}
.NavBar32 .input_02 {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 1px; BACKGROUND: url(http://www.sinaimg.cn/book/vipbook/st/book_mj_007.gif) #fff no-repeat 5px 3px; HEIGHT: 14px; COLOR: #666; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 2px
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.z_title {
	PADDING-LEFT: 0px; FLOAT: left; COLOR: #bb0000; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
